{% extends "base.html" %}
{% block content %}
    <div class="container mt-2">
        <div class="row">
        {% for n in productData %}
            <div class="col-3">
                <div class="card" style="height:350px">
                    <img src="{{n.image.url}}" class="w-100 rounded " style="height:210px" alt="">
                    <div class="card-body ">
                        <h2 class="">{{n.name}}</h2>
                        <div class="d-flex gap-4">
                        <h6>Rs.<span class="text-danger">{{n.discount_price}}</span>/-</h6>
                        <h6><strike>Rs. {{n.price}}</strike>/-</h6>
                        </div>

                        <div class="d-flex justify-content-between">
                            <a href="" class="btn btn-primary">Read More</a>
                            <a href="" class="btn btn-success w-50">Buy</a>
                        </div>

                    </div>
                </div>
                <br>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}