{% extends "base.html" %}
{% block content %}

    <div class="container mt-4">
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <img src="{{product.image.url}}" style="width:45%" alt="">
                </div>

                <div class="col-8">
                        <table class="table">
                            <tr>
                                <th>Name</th>
                                <td>{{proudtct.name}}</td>
                            </tr>
                            <tr>
                                <th>Category</th>
                                <td>{{proudtct.category}}</td>
                            </tr>
                            <tr>
                                <th>Brand</th>
                                <td>{{proudtct.brand}}</td>
                            </tr>
                        </table>
                        {% if product.discount_price %}
                        <h1>₹{{product.discount_price}} <del>₹{{product.price}}</del></h1>
                        {% else %}
                        <h1>₹{{product.price}}</h1>
                        {% endif %}
                        <div class="d-flex gap-2 mb-2">
                            <a href="" class="btn btn-success">Add to Cart</a>
                            <a href="" class="btn btn-warning">Buy Now</a>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="card">
                    <div class="card-header">Description</div>
                    <div class="card-body">
                        <p>{{product.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
